.jumbotron{
    background-color:#cbcacc;
}
html, body, #wrapper, div {
    background-color: black;
    height: 100%;
}

/*This is overriding styles you already had - I changed the nav's height from 800px to 100%, and removed padding which will cause there to be an extra white space under the main blue nav if present */
nav {
    height: 100%;
    padding-top: 0px;
    padding-bottom:0px;
}