 .u-section-1555work {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/MVC/public/images/8deee6a9afadb50a5fbd7822b1df724502de361e25a40f0f80e00abc841b2a3676d766a6b22f4ea6f7eabb68f4627574c3db1b7e7a46d619fa32e8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1555 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1555 .u-text-1 {
  width: 740px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-1555 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1555 .u-table-1 {
  width: 1033px;
  margin: 20px auto 0;
}

.u-section-1555 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1555 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-1555 .u-table-cell-1 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-2 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-3 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-body-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1555 .u-table-cell-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-7 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-8 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-11 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-13 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-14 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-15 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-table-cell-16 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.u-section-1555 .u-table-cell-17 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1555 .u-table-cell-18 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-btn-3 {
  border-style: none;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-block-ec2a-45 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-ec2a-46 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-block-ec2a-47 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1555 .u-text-3 {
  width: 788px;
  margin: 30px auto 60px;
}

.u-section-1555 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1555 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1555 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1555 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1555 .u-text-1 {
    width: 720px;
  }

  .u-section-1555 .u-text-2 {
    width: 720px;
  }

  .u-section-1555 .u-table-1 {
    width: 720px;
  }

  .u-section-1555 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1555 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1555 .u-text-1 {
    width: 540px;
  }

  .u-section-1555 .u-text-2 {
    width: 540px;
  }

  .u-section-1555 .u-table-1 {
    width: 540px;
  }

  .u-section-1555 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1555 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1555 .u-text-1 {
    width: 340px;
  }

  .u-section-1555 .u-text-2 {
    width: 340px;
  }

  .u-section-1555 .u-table-1 {
    width: 340px;
  }

  .u-section-1555 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 755px;
}

.u-section-2 .u-text-1 {
  margin: 93px 230px 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 33px auto 0;
}

.u-section-2 .u-video-1 {
  height: 362px;
  width: 800px;
  margin: 33px auto 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 130px;
    margin-left: 130px;
    width: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
  }
}